:root {
  --clr: #0c1e3c;
  --act: #3683fc;
}
.dashboard {
  min-height: 100vh;
  width: 100%;
  background: #f5f9ff;
  transition: 0.5s;
  padding: 20px 40px;
}
.contain {
  position: relative;
  width: 100%;
  height: 100%;
}
.dashHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.dashHead .logo {
  position: relative;
  text-decoration: none;
}
.dashHead .logo img {
  max-width: 100%;
  cursor: pointer;
}
.dashHead .listBox {
  display: flex;
  gap: 50px;
  width: 350px;
  justify-content: center;
  align-items: center;
}
.dashHead .listBox li {
  position: relative;
  list-style: none;
  z-index: 1;
}
.dashHead .listBox li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: 500;
  gap: 12px;
  text-decoration: none;
  font-size: 1.1em;
}
.dashHead .listBox li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}
.dashHead .listBox li a .text {
  color: var(--clr);
  line-height: 75px;
}
.dashHead .listBox li.active a .text,
.dashHead ul li.active a,
.dashHead .listBox li.active a .icon {
  color: var(--act);
}
.profilePic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.profilePic span {
  font-weight: 600;
  font-size: 1.4em;
}
.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.summary {
  position: relative;
  width: 100%;
  padding: 40px 0;
}
.summary .insideBx,
.quickSuggest {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.head {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head .name {
  color: #3683fc;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 400;
}
.head .name i {
  line-height: 1.1em;
}
.head .clock {
  color: var(--clr);
}
.insideBx .risks .head h3,
.quickSuggest .head h3 {
  font-weight: 600;
  font-size: 1.4em;
}
.insideBx .risks .head .clk,
.quickSuggest .head .clk {
  font-weight: 400;
  font-size: 0.9em;
}
.insideBx .risks .head span,
.quickSuggest .head span {
  display: flex;
  gap: 6px;
}
.insideBx .midrisk {
  position: relative;
  margin-top: 20px;
  width: 100%;
}
.insideBx .midrisk .midname {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.insideBx .midrisk .midname p {
  color: #a59d7c;
  white-space: nowrap;
  font-size: 1.1em;
}
.range {
  width: calc(100% - 120px);
  height: 5px;
  appearance: none;
  background: #edf1f4;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  line-height: 1.1em;
}
.range::-webkit-slider-thumb {
  appearance: none;
  height: 5px;
  width: 5px;
  cursor: pointer;
  box-shadow: -407px 0 0 400px #27a0ff;
}
.lastBlock {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.lastBlock .boxes {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
.lastBlock .boxes div {
  background: #fff;
  height: 100px;
  padding: 10px 20px;
}
.lastBlock .boxes div:nth-child(1) p:nth-child(2),
.lastBlock .boxes div:nth-child(4) p:nth-child(2),
.lastBlock .boxes div:nth-child(6) p:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lastBlock .boxes div p:nth-child(1) {
  white-space: nowrap;
  font-size: 1.1em;
  font-weight: 500;
  color: #0c1e3c;
}
.lastBlock .boxes div p:nth-child(2) {
  white-space: nowrap;
  font-size: 1.4em;
  margin-top: 30px;
  font-weight: 600;
  color: #0c1e3c;
}
.lastBlock .boxes div p:nth-child(2) .arrow.red,
.lastBlock .boxes div:nth-child(2) p:nth-child(2) {
  color: #f39e9e;
}
.lastBlock .boxes div p:nth-child(2) .arrow.green {
  color: #96eeb9;
}
.lastBlock .boxes div p:nth-child(2) .arrow.yellow {
  color: #f5d762;
}
.lastBlock .boxes div p:nth-child(2) .arrow span:nth-child(1) {
  font-size: 1em;
}
.lastBlock .boxes div p:nth-child(2) .arrow {
  font-size: 0.6em;
}
.risks,
.quickTune,
.suggest,
.dailyGoal {
  position: relative;
  width: 50%;
  height: 500px;
}
.sliding {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.slider {
  position: relative;
  width: 50%;
  border-radius: 10px;
}
.slides {
  width: 400%;
  height: 150px;
  display: flex;
  gap: 35px;
}
.slides input {
  cursor: pointer;
  display: block;
  z-index: 12;
  transform: translate(399px, 60%);
}
.slides input:not(:last-child) {
  margin-right: -20px;
}
.slide {
  width: 28%;
  transition: 2s;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}
.slide .onslide {
  height: 100%;
  width: 100%;
  padding: 20px 30px;
}
.slide .onslide .head {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slide .onslide .head h5 {
  color: #0c1e3c;
  line-height: 1.1em;
  font-size: 1.01em;
  font-weight: bold;
}
.slide .onslide .head span {
  color: #3683fc;
}
.slide .onslide .head span i:nth-child(2) {
  margin-left: 5px;
  font-size: 0.85em;
  font-style: normal;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
svg {
  position: relative;
  width: 150px;
  height: 150px;
}
svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: #fff;
  transform: scale(0.5) translate(10px, 10px);
  stroke-linecap: round;
}
svg circle:nth-child(2) {
  stroke: #27a0ff;
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * 75) / 100);
}
.progressBox {
  display: flex;
}
.Box {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.Box .progress p {
  font-size: 1.5em;
}
.Box .progress p span,
.Box .progressText p {
  color: #3683fc;
}
.Box .progressText p {
  margin-top: 7px;
  font-size: 1em;
}
.progressBox .progressText {
  transform: translateX(-20px);
  margin-top: 10px;
}
.progressBox .progressText p:nth-child(1) {
  color: #3683fc;
  font-size: 0.8em;
}
.progressBox .progressText p:nth-child(2) {
  margin-top: 10px;
  font-size: 1.1em;
}
.head .decide {
  font-size: 13px;
  display: flex;
  gap: 10px;
}
.head .decide .out {
  transform: translateY(5px);
  font-size: 16px;
}
.body {
  position: relative;
}
.terms,
.cubeBx {
  display: flex;
  gap: 20px;
  align-items: center;
}
.chop {
  display: grid;
}
.chop p {
  text-align: center;
  font-size: 1.1em;
  color: #33466a;
  white-space: nowrap;
}
.cubeBx {
  gap: 10px;
}
.cubeBx .slash {
  color: #33466a;
  font-size: 2em;
}
.cubeBx .cube {
  width: 50px;
}
.cubeBx .onBx{
  display: grid;
}
.cubeBx .onBx p{
  font-size: 0.8em;
  color: #33466a;
}
.cube {
  height: 35px;
  width: 100px;
  background: #e6efff;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.cube span {
  color: #adb8c7;
  font-size: 0.95em;
}
@media (max-width: 991px) {
  .summary .insideBx {
    display: grid;
    gap: 0;
  }
  .dashboard {
    overflow-x: hidden;
  }
  .risks,
  .dailyGoal {
    width: 100%;
  }
}
@media (max-width: 920px) {
  .summary .boxes {
    width: calc(100% / 3);
  }
}
@media (max-width: 660px) {
  .dashHead .logo {
    max-width: 100%;
  }
  .dashboard {
    padding: 10px 20px;
  }
}
@media (max-width: 617px) {
  .dashHead .listBox {
    gap: 30px;
  }
  .dashHead .logo {
    max-width: 100%;
  }
  .profilePic span {
    font-size: 1.2em;
  }
  .profilePic {
    gap: 10px;
  }
}
@media (max-width: 535px) {
  .summary .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
  .summary .boxes {
    width: calc(100% / 2);
  }
}
@media (max-width: 490px) {
  .slide {
    width: 22%;
  }
  #radio1:checked ~ .first {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -25%;
  }
  #radio3:checked ~ .first {
    margin-left: -50%;
  }
}
